@import '../../styles/config';

.rulesField {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 4.5rem;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/audiocallimg.jpg');
    opacity: 0.8;
    background-size: cover;  
    .rulesFieldMain {
        padding: 0 4rem;
    }  
    h1 {
        color: white;
        text-shadow: 3px 3px 2px #000;
        font-size: 4.5rem;
    }
    p {
        font-size: 1.5rem;
        color: black;
        margin-top: 1rem;
        font-weight: 700;
        text-shadow: 2px 1px 4px white
    }
    .startGameButton {
        margin: 1rem;
        @include button(white, $dark-violet, 4.1rem, 11.6rem )
    }
    .playingField{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .questionCard {
            padding: 1.5rem;
            width: 15.5rem;
            height: 17rem;
            background-color: rgba(255,255,255,.4);
            border-radius: 2rem;
            cursor: pointer;
            .gameImg {
                width: 12.5rem;
                border-radius: 1rem;
            }
        }
        .buttonGameField {
            width: 40rem;
            height: 10rem;
            button {
                margin: 1rem;
                @include button(white, $dark-violet, 4.1rem, 11.6rem )
                
            }
        }
    }   

    .gameAnswers {
        margin-top: 2rem;
        text-align: center;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .closeGame {
        position: absolute;
        top: 2rem;
        left: 6rem;
        margin: 1rem;
        width: 2rem;
        font-size: 3rem;
        height: 2rem;
        border-radius: 50%;
        background: none;
        color:black;
        border: none;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}