@import '../../styles/config.scss';

.rulesField {
    padding-left: 4.5rem;
    padding-top: 10rem ;
    text-align: center;
    height: 100vh;
    background: linear-gradient($back-light, $light-caral);
    .gameImg {
        width: 10rem;
    }
    .gameAnswers {
        margin-top: 2rem;
        text-align: center;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}