@import '../../styles/config.scss';

body {
    position: relative;
}
.learnBox {
    padding-top: 3rem;
    background-color: #E5E5E5; 
    min-height: 100vh;
    text-align: center;
    padding-left: 2.5rem;
    
    h2 {
        @include fonts(Montserrat, 1.6rem, 500);
        padding: 0 1rem;
        font-style: normal;
        line-height: 2rem;
        letter-spacing: 0em;
        text-align: center;

    }

    .learnMain {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem;

        .learnCard {
            width: 14.5rem;
            margin: 1rem;
            padding-top: 4rem;
            height: 11.4rem;
            background-color: white;
            border-radius: 0.75rem;
            box-shadow: 5px 5px 14px 3px rgba(207, 205, 205, 0.25);
            z-index: 1;            
            h3 {
                min-height: 3rem;
            }
            button {
                @include button(white, $dark-violet, 2.1rem, 5.6rem )
            }   
        }
        :last-child {
            background-color: grey;
            color: white;
            button {
                background: white;
                color: black;
                &:hover {
                    color: white;
                } 
            }
        }        
    }    
}
