@import '../../styles/config.scss';


.learnBox {
    padding-top: 3rem;
    background-color: $back-light; 
    text-align: center;
    padding-left: 2.5rem;
    height: calc(100vh - 80px);
    h2 {
        @include fonts(Montserrat, 2.6rem, 500);
        padding: 0 1rem;
        font-style: normal;
        line-height: 3rem;
        letter-spacing: 0em;
        text-align: center;

    }

    .learnMain {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem;

        .learnCard {
            margin: 1rem 3rem;
            padding-top: 4rem;
            flex-basis: 26%;
            height: 20rem;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 5px 5px 14px 3px rgba(207, 205, 205, 0.25);
            z-index: 1;            
            h3 {
                min-height: 6rem;
            }
            button {
                @include button(white, $dark-violet, 4.1rem, 11.6rem )
            }   
        }
        :last-child {
            background-color: grey;
            color: white;
            button {
                background: white;
                color: black;
                &:hover {
                    color: white;
                } 
            }
        }        
    }    
}
