$caral: #F58978;
$light-caral: rgba(243, 195, 188, 0.952);
$grey: #626D79;
$light-grey:#8e98a3;
$violet: #9676E3;
$dark-violet: rgba(104, 70, 186, 1);
$light-violet:#c9b9f0;
$light-text:blanchedalmond;
$color0: #F58978;
$color1: #9676E3;
$color2: #9676E3;
$color3: #9676E3;
$color4: #9676E3;
$color5: #9676E3;

$danger: #f50057;
