@mixin sm {
  @media (max-width: #{$screen-sm}) {
      @content;
  }
}
@mixin md {
  @media (max-width: #{$screen-md}) {
      @content;
  }
}
@mixin lg {
  @media (max-width: #{$screen-lg}) {
      @content;
  }
}
@mixin xl {
  @media (max-width: #{$screen-xl}) {
      @content;
  }
}
@mixin fonts($family, $size, $weight){
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}
@mixin display($direction, $justify, $align ){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin button($color, $background, $height, $width ){
        @include fonts(Montserrat, 17px, 700);
        margin-top: 1rem;
        background: $background;
        height: $height;
        width: $width;
        border-radius: 10px; 
        color: $color;
        border: none;
        font-size: 0.85rem;
        font-style: normal;
        &:hover {
            background: rgba(245, 137, 120, 0.43);
            color: black;
            cursor: pointer;
        }
}
