.footerBackground {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    .vector {
        width: 100%;
    }
    .tree {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .amigos {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}