@import '../../styles/config.scss';

.gamePages {
    position: relative;
    height: 100vh;
    background-color:$back-light; 

    .gameField {
        z-index: 1;
        margin: 5rem;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .itemGame {            
            width: 20rem;
            height: 20rem;
            background-color: white;
            border-radius: 1rem;
            margin: 2rem;
            text-align: center;
            h2 {
                text-decoration: none;
            }
            
        }
    } 
    .footerBackground {
        position: absolute;
           bottom: 0;
       img {
           width: 100%;
       }
   } 
}

