@import '../../styles/config.scss';

.gamePages {
    position: relative;
    height: 100vh;
    background-color:$back-light; 

    .gameField {
        z-index: 1;
        margin: 8rem 0 0 10rem;
        position: absolute;
        @include display(row, center, center);
        flex-wrap: wrap;
        .gameNavLink {
            text-decoration: none;
        }
        .itemGame {          
            width: 20rem;
            height: 20rem;
            background-color: white;
            border-radius: 1rem;
            margin: 1rem;
            text-align: center; 
            @include display(column, space-around, center);
            img {
                width: 55%;
                height: 55%;
            }         
            h3{
                color:black;
                font-size: 1.7rem;
                font-weight: 500;
                span{
                    color:orange;
                    font-weight: 700;
                }
            }  
        }
    } 
    .footerBackground {
        position: absolute;
        bottom: 0;
   } 
}

