@import '../../styles/config.scss';

.gamePages {
    position: relative;
    height: 100vh;
    background-color:$back-light; 

    .gameField {
        z-index: 1;
        margin: 5rem;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .gameNavLink {
            text-decoration: none;
        }
        .itemGame {  
            padding: 2rem;          
            width: 20rem;
            height: 20rem;
            background-color: white;
            border-radius: 1rem;
            margin: 1rem;
            text-align: center; 
            img {
                width: 65%;
                height: 65%;
            }           
        }
    } 
    .footerBackground {
        position: absolute;
           bottom: 0;
   } 
}

