//  import all 3rd party libraries and customize them.
@import './config.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font;
}

:root {
font-size: 20px;
	@include xl {
		font-size: 14px;
	}
	@include lg {
		font-size: 13px;
	}
	@include md {
		font-size: 10px;
	}
	@include sm {
		font-size: 9px;
	}
}
html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2.34rem;
}