@import '../../../styles/config';

.Container{
    display: block;
}
.gameContainer{
    height: 30rem;
    width: 25rem;
    padding: 1rem;
    background-color: white;
    @include display(column, space-around, center);
    border-radius: 18px;
    box-shadow: 5px 5px 14px 3px rgba(207, 205, 205, 0.25);
    .img{
        width: 20rem;
        height: 12rem;
        cursor: pointer;
    }
    .button{
        @include button(black, white, 3.1rem, 6.4rem );
        border: #fadbd7 solid 2px;
        width: auto;
        padding: 0 0.5rem;
    }
}
.p{
        @include fonts(Montserrat, 1.3rem, 500);
        color: black;
        text-shadow: none;
}

.wordContainer{
    @include display(row, space-around, baseline);
    span{
        padding-left: 1rem;
        font-size: 1rem;
        font-style: italic;
    }
}
.soundBtn {
    @include button(black, #aed7db, 3.1rem, 4.4rem );
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    left: 6rem;
    cursor: pointer;
    &:hover{
        background-color: #aed7db;
    }
}

.message{
    font-size: 4.5rem;
    color: white;
    text-shadow: none;
    position: absolute;
    right: 6rem;
    top: 4rem;
}