@import '../../../styles/config';

.wrapper{
    @include wrapper(url('../../../assets/img/savannah.jpg'));
}
p{
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    font-weight: 700;
    text-shadow: 2px 1px 4px white
}
.back{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 3rem;
    text-decoration: none;
    color:black;
}