@import '../../styles/config.scss';

.container {
	max-width: 60rem;
	margin: 2rem auto 0 auto;
}

.header {
	margin: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.loginBtn {
		padding: 0.5rem 0.8rem;
		border: 1px solid #242D34;
		outline: none;
		border-radius: 10px;
		background: transparent;
		cursor: pointer;
		font-weight: bold;
	}
}

.main {
	margin: 0 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.owl {
		max-width: 3rem;
	}
	.title {
		margin-top: 1rem;
		font-weight: 700;
		font-size: 2rem;
	}
	.cardsBlock {
		margin-top: 1rem;
		display: flex;
		justify-content: center;
	}
}
@include lg {
  .cardsBlock {
    flex-wrap: wrap;
  }
}
