.cardBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 320px;
    height: 450px;
    background-color: #626D79;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 1px #8e98a3;
    margin: 20px;
    padding-top: 40px;
    &:hover {
        box-shadow: 15px 15px 15px 1px #8e98a3;
    }
    h2 {
        color: white;
        padding: 15px;
    }
    p {
        color: blanchedalmond;
        font-size: 33px;
        padding: 12px;
    }
    .box {
        text-align: center;
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }
    .buttonBox {
        button {  
            padding: 10px 5px;
            margin: 20px;
            border-radius: 5px;
            border: none;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
            }
        }

    }
    
}

